<mat-card class="cardContent">
  <mat-card-header>
    <mat-card-title> Chile, Santiago </mat-card-title>
    <mat-card-subtitle> Americas, south america </mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image src="https://restcountries.eu/data/chl.svg" alt="pais" />

  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <mat-chip-list class="example-chip" cdkDropListOrientation="horizontal">
          <mat-chip class="example-box"> Población</mat-chip>
          <mat-chip class="example-box"> MOenda</mat-chip>
          <mat-chip class="example-box"> DEnominación </mat-chip>
        </mat-chip-list>
      </mat-list-item>
      <mat-list-item>
        <mat-chip-list class="example-chip" cdkDropListOrientation="horizontal">
          <mat-chip class="example-box"> Población</mat-chip>
          <mat-chip class="example-box"> MOenda</mat-chip>
          <mat-chip class="example-box"> DEnominación </mat-chip>
        </mat-chip-list>
      </mat-list-item>
      <mat-divider></mat-divider>
      <div mat-subheader>Idiomas</div>
      <mat-list-item>
        <mat-chip-list class="example-chip" cdkDropListOrientation="horizontal">
          <mat-chip class="example-box"> camilo </mat-chip>
          <mat-chip class="example-box"> camilo </mat-chip>
          <mat-chip class="example-box"> camilo </mat-chip>
          <mat-chip class="example-box"> camilo </mat-chip>
        </mat-chip-list>
      </mat-list-item>
      <mat-divider></mat-divider>
      <div mat-subheader>Otras traducciones</div>
      <mat-list-item>
        <mat-chip-list class="example-chip" cdkDropListOrientation="horizontal">
          <mat-chip class="example-box"> camilo </mat-chip>
          <mat-chip class="example-box"> camilo </mat-chip>
          <mat-chip class="example-box"> camilo </mat-chip>
          <mat-chip class="example-box"> camilo </mat-chip>
        </mat-chip-list>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
