<div fxLayout="row" fxLayoutAlign="center">
  <h1 class="titleName">Buscar por región</h1>
</div>
<div
  fxLayout="row wrap"
  fxLayout.xs="column"
  fxLayout.sm="row"
  fxLayoutAlign="center"
  fxLayoutGap="20px"
>
  <button
    mat-flat-button
    color="primary"
    (click)="clickButton($event)"
    id="Americas"
    name="Americas"
  >
    America
  </button>
  <button
    mat-flat-button
    color="accent"
    (click)="clickButton($event)"
    id="Europe"
    name="Europe"
  >
    Europa
  </button>
  <button
    mat-flat-button
    color="primary"
    (click)="clickButton($event)"
    id="Africa"
    name="Africa"
  >
    Africa
  </button>
  <button
    mat-flat-button
    color="accent"
    (click)="clickButton($event)"
    id="Asia"
    name="Asia"
  >
    Asia
  </button>
  <button
    mat-flat-button
    color="primary"
    (click)="clickButton($event)"
    id="Oceania"
    name="Oceania"
  >
    Oceania
  </button>
</div>
