<app-search-banner
  title="Buscar por nombre del país"
  nameInput="Nombre"
  placeholderInput="Ingresar el nombre de un país"
  (onEnter)="search($event)"
></app-search-banner>

<div *ngIf="!isError; else error">
  <div *ngIf="countries.length !== 0">
    <app-display-table [countries]="countries"> </app-display-table>
    <app-paginator
      [totalCant]="totalCountries"
      [cantPerPage]="cantPerPage"
      (valuePerPage)="searchByPaginator($event)"
    ></app-paginator>
  </div>
</div>

<ng-template #error>
  <app-error-message
    errorText="No hay datos con el término ingresado"
  ></app-error-message>
</ng-template>
