<form (ngSubmit)="search()" autocomplete="off">
  <div fxLayout="row" fxLayoutAlign="center">
    <h1 class="titleName">{{ title }}</h1>
  </div>
  <div
    fxLayout="row wrap"
    fxLayout.xs="column"
    fxLayout.sm="column"
    fxLayoutAlign="center"
    fxLayoutGap="20px"
  >
    <mat-form-field appearance="fill" class="inputSearch">
      <mat-label> {{ nameInput }} </mat-label>
      <input
        [(ngModel)]="searchTerm"
        name="term"
        matInput
        [placeholder]="placeholderInput"
      />
    </mat-form-field>

    <button mat-flat-button color="primary">
      <mat-icon>search</mat-icon> Buscar
    </button>
  </div>
</form>
